/*Basic*/
body { font-family: Comfortaa; }
#content h1 {
    text-decoration: none;
    font-weight: bold;
    font-size: 24pt;
    margin-top: 3px;
    text-align: center;
}
#content input::-webkit-input-placeholder {color:#DCDCDC; opacity: 1; transition: opacity 0.3s ease;}
#content input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
#content input:hover{
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#content textarea:hover {
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
    -webkit-transition: box-shadow 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: box-shadow 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transition: border 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: border 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
/*Basic*/
#content{
    width: 800px;
    margin: 0 auto 5px;
    text-align: center; 
    background-color:#f5f5f5;
    cursor: default;
}
#content textarea{
    margin-bottom: 10px;
    width: 94%;
    z-index: 5;
    position: relative;
    resize: none;
    border: 2px solid rgba(200,200,200,1);
    font: 14px 'Roboto Mono', monospace;
    box-shadow: 1px 1px 3px 1px rgba(210,210,210, 0.2) inset;
    padding-top:1px;
    padding-left: 5px;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: box-shadow 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transition: border 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: border 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#content input{
    width: 96%;
    border: 2px solid rgba(200,200,200,1);
    color: #5B7FA6;
    font-size: 14px;
    box-shadow: 1px 1px 3px 1px rgba(210,210,210, 0.2) inset;
    padding-left: 5px;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#content p{ margin-bottom: 5px; }

.left {
    float: left; 
    width: 50%;
}
.right {
    float: right; 
    width: 50%;
}

.middle_buttons{
    margin-right: 1%;
    float: right;
}

#top_content{ height: 80px; }
#rulse_up{ height: 34px; }
#middle_content{ height: 450px; }

.middle_blocks{
    width: 50%;
    float: left;
    text-align: left;
}
.middle_blocks p{
    float: left;
    padding-left: 6px;
    height: 18px;
    margin: 0 0 0 0;
}
.middle_blocks textarea{
    height: 400px;
    margin-left: 2%;
}

#rules_p{ margin-left: 1%; }

#state{
    height: 60px;
    margin-left: 1%;
    font-size: 10pt;
}
#history{
    height: 303px;
    width: 97%;
    text-align: center;
    overflow: auto;
    margin-left: 1%;
    background: rgb(235, 235, 228);
    overflow: auto;
}

#history span{
    float: left;
    text-align: center;
}

.history_note{
    width: 100%;
    font-size: 10pt;
    /*text-align: center;*/
    float: left;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.history_note:hover{
    background-color: #dddddd;
    margin-top: 3px;
    margin-bottom: 3px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

/* MEGA CRUTCH */
.history_notef{ 
    width: 100%;
    font-size: 10pt;
    /*text-align: center;*/
    float: left; }
.hist_idf{ width: 6%; }
.hist_rulef{ width: 22.5%; }
.hist_resultf{ width: 69.5%; }
/**/

.hist_id{ 
    width: 6%; 
    border: 1px solid transparent;
}
.hist_rule{ 
    width: 22.5%; 
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.hist_result{ 
    width: 69.5%; 
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}
.hist_id:hover{
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}
.hist_rule:hover{
    border: 1px solid black;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}
.hist_result:hover{
    border: 1px solid black;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}

.text-area-selection {
    position:absolute; 
    padding-left: 4px;
    /*z-index:-1;*/
    display:block;
    word-wrap:break-word;  
    white-space:pre-wrap;
    color:white;
    overflow:auto;
    width: 380px;
    height: 400px;
    font: 14px 'Roboto Mono', monospace;
    margin: 3px 0px 0px 3px;
    background-color: #fff;
}

.lambda {
    color: rgb(216,216,216);
    background-color: rgb(249,249,249);
}

.incorrect { border-bottom:1px dotted red; color: red; }
.production { color: #A71D5D; }
.rule_span { color: #4F98BC; }
.comment { color: #969896; }
.none { color: #000; }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,1);
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(52, 152, 219, 1);
}

.middle_buttons {
    cursor: pointer;
    font-size: 10pt;
    font-family: Comfortaa;
    border: 2px solid #5B7FA6;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    height: 27px;
}
.middle_buttons:hover {
    border-color: #000;
    -webkit-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.middle_buttons:active {
    //box-shadow: 1px 1px 3px 1px rgba(210,210,210, 0.2) inset;
    border-width: 3px;
    padding: 1px 3px 1px 3px;
}

#gear {
    width: 28px;
    height: 28px;
    background: url(../img/gear.png) no-repeat;
    background-position: 1px 1px;
    background-size: 26px 26px;
    float: left;
    margin-left: 8px;
}

@keyframes rotate {
  0%   { transform: rotate(  0deg); }
  100% { transform: rotate(180deg); }
}

@keyframes revRotate {
  0%   { transform: rotate(  0deg); }
  100% { transform: rotate(-180deg); }
}

#left_rules_up {
    width: 110px;
    float: left;
}

#right_rules_up {
    width: 690px;
    float: right;
}

#help {
    position: absolute;
    width: 286px;
    height: 28px;
    padding-top: 2px;
    z-index: 2;
    background-color: rgba(210,210,210, 0.2);
}

#help span {
    font-size: 10pt;
    vertical-align: text-top;
}

#help input {
    width:auto;
    margin: 6px;
} 